/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Components */
/* H2 */
.divh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.divh2__h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (max-width: 425px) {
  .divh2__h2 {
    font-size: 1.1rem;
  }
}

.subrayado {
  height: 4px;
  background-color: #c2262a;
  width: 20%;
  border-radius: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 10px;
}

@media screen and (max-width: 425px) {
  .subrayado {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0px;
    height: 3px;
    width: 50%;
  }
}

/* Tarjeta final */
.tarjetaFinal {
  margin-left: auto;
  margin-right: auto;
  width: 500PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 0px 20px 1px black;
          box-shadow: 0px 0px 20px 1px black;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .tarjetaFinal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
}

.tarjetaFinal__img {
  width: 170px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tarjetaFinal__parrafo {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.tarjetaFinal:hover {
  background-color: #ddd0d09a;
}

/* Botones */
.btn {
  border-radius: 16px;
  display: inline-block;
  padding: 11px;
  text-decoration: none;
  color: white;
  background-color: #c2262a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 2px 1px #491515;
          box-shadow: 0px 2px 1px #491515;
  font-size: 1.3rem;
}

.btn:hover {
  background-color: #ffffff;
  color: #c2262a;
}

.btn--videoTexto {
  font-size: small;
  border-radius: 8px;
  padding: 5px;
}

.menosIndex {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 8px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .menosIndex {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .btn--hero {
    padding: 2px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .btn--hero {
    margin-bottom: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0px;
    font-size: 0.8rem;
    padding: 6px;
  }
}

/* carrusel */
.carruselContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carrusel {
  width: 50%;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .carrusel {
    width: 90%;
  }
}

/* Separadores */
.separadorCorto, .separadorLargo {
  height: 2.5px;
  background-color: #031b2e4a;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.separadorLargo {
  width: 70%;
}

/* ---index--- */
.index--widht {
  width: 50%;
}

.nav__logo {
  height: 95px;
  margin-left: 10px;
}

@media screen and (max-width: 425px) {
  .nav__logo {
    height: 45px;
  }
}

@media screen and (max-width: 425px) {
  .hamburguesa {
    width: 1.2rem;
    height: 1.2rem;
  }
}

#nav__items {
  color: #c2262a;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 425px) {
  #nav__items {
    font-size: 1rem;
  }
}

#nav__items:hover {
  background-color: #c2262a;
  color: #ffffff;
  border-radius: 8px;
}

.hero {
  height: 82vh;
  background-image: url(../assets/constructor_taladrando_pared_recortada1.JPG);
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 50vh;
    row-gap: 15px;
  }
}

.hero__titulo {
  font-size: 8rem;
  font-family: 'Roboto', sans-serif;
  color: #f8f9fa;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .hero__titulo {
    font-size: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__titulo {
    font-size: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .hero__titulo {
    margin-top: 30px;
    padding-left: 0px;
    text-align: center;
    font-size: 2.7rem;
  }
}

.hero__subtitulo {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #181111;
}

@media screen and (max-width: 768px) {
  .hero__subtitulo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .hero__subtitulo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0px;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.videoTexto {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media screen and (max-width: 425px) {
  .videoTexto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.videoTexto__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: auto;
}

.videoTexto__contenedorImg--img {
  width: 100%;
  border-radius: 10px;
}

.videoTexto .btn {
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: #c2262a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 2px 1px #491515;
          box-shadow: 0px 2px 1px #491515;
  font-size: small;
}

.videoTexto .btn:hover {
  background-color: #ffffff;
  color: #c2262a;
}

.videoTexto .bienvenidos__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.videoTexto .h2bienvenidos {
  margin-bottom: 0px;
  font-size: 1.8rem;
}

.videoTexto .rowVideoTexto--gap {
  row-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #031b2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    row-gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer__h3 {
  font-family: 'Roboto', sans-serif;
  color: #90a7ac;
  font-size: 0.8rem;
}

.footer__contenedorLogo {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .footer__contenedorLogo {
    width: 40%;
  }
}

.footer__logo {
  width: 100%;
}

.footer__contenedorContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.footer__contenedorListas {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__btnContacto {
  border-radius: 5px;
  text-decoration: none;
  background-color: #c2262a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  color: white;
  font-size: 0.8rem;
  -webkit-box-shadow: 0px 1px 0.5px black;
          box-shadow: 0px 1px 0.5px black;
}

@media screen and (max-width: 768px) {
  .footer__btnContacto {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__btnContacto:hover {
  background-color: #ffffff;
  color: #c2262a;
}

/* ---quienes somos--- */
.mainQuienesSomos {
  overflow: hidden;
}

.quienesSomos {
  margin-bottom: 15px;
  grid-area: quienesSomos;
}

.quienesSomos__divBanner {
  height: 400px;
  background-image: url(../assets/obreros_panel.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 425px) {
  .quienesSomos__divBanner {
    height: 280px;
  }
}

.quienesSomos__title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  background-color: #c2262a;
  font-size: 2.5rem;
  color: #ffff;
  padding-bottom: 10px;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .quienesSomos__title {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.quienesSomos__parrafo {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.contenedorRow {
  row-gap: 10px;
}

.iconosMisionVision {
  width: 50px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.misionVision__title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 0px;
}

.subrayadoMisionVision, .subrayadoHistoria {
  height: 2px;
  background-color: #c2262a;
  width: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0.5rem;
  border-radius: 20px;
}

.subrayadoHistoria {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.misionVision__parrafo, .historia__parrafo {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.misionVision__divMision:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #517293;
          box-shadow: 0px 0px 5px 1px #517293;
  border-radius: 10px;
}

.misionVision__divVision:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #517293;
          box-shadow: 0px 0px 5px 1px #517293;
  border-radius: 10px;
}

.misionVision {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (max-width: 425px) {
  .misionVision {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedorHistoria {
  background-image: url(../assets/pared_ladrillos_blanca.JPG);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: solid 3px #c7c7c7;
  border-radius: 20px;
  padding: 10px 10px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .contenedorHistoria {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedorHistoria__contenedorH2p {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  .contenedorHistoria__contenedorH2p {
    width: 100%;
  }
}

.contenedorHistoria__contenedorImg {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .contenedorHistoria__contenedorImg {
    width: 100%;
  }
}

.contenedorHistoria__contenedorImg--img {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 2px;
          box-shadow: 1px 1px 5px 2px;
}

.historia__parrafo {
  font-size: 1.3rem;
}

@media screen and (max-width: 425px) {
  .historia__parrafo {
    font-size: 1.1rem;
  }
}

/* ---trabajos--- */
.trabajos__divBanner {
  height: 400px;
  background-image: url(../assets/cubre_orejas.jpg);
  background-size: cover;
  background-position: bottom;
}

@media screen and (max-width: 425px) {
  .trabajos__divBanner {
    height: 280px;
  }
}

.trabajos__title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  background-color: #c2262a;
  font-size: 2.5rem;
  color: #ffff;
  padding-bottom: 10px;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .trabajos__title {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.pDescripcionTrabajos {
  margin-top: 50px;
}

.pDescripcionTrabajos__p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 425px) {
  .pDescripcionTrabajos__p {
    font-size: 1rem;
  }
}

/* ---clientes--- */
.clientes__divBanner {
  height: 400px;
  background-image: url(../assets/obreros_calle.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 425px) {
  .clientes__divBanner {
    height: 280px;
  }
}

.clientes__title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  background-color: #c2262a;
  font-size: 2.5rem;
  color: #ffff;
  padding-bottom: 10px;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .clientes__title {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.containerClientes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media screen and (max-width: 425px) {
  .containerClientes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .containerClientes__img {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.containerClientes__img--img {
  width: 200px;
}

@media screen and (max-width: 425px) {
  .containerClientes__img--img {
    width: 150px;
  }
}

/* ---contacto--- */
.contacto__divBanner {
  height: 400px;
  background-image: url(../assets/pc_cafe.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 425px) {
  .contacto__divBanner {
    height: 280px;
  }
}

.contacto__title {
  text-align: center;
  margin-bottom: 30px;
  background-color: #c2262a;
  font-size: 2.5rem;
  color: #ffff;
  padding-bottom: 10px;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .contacto__title {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.contacto__parrafo {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.contacto__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  margin-top: 40px;
  margin-bottom: 15px;
  background-image: url(../assets/balizas.jpg);
  background-size: cover;
  padding-bottom: 15px;
  background-attachment: fixed;
}

/*  Para formulario de Bootstrap
.form-label{
    color:#ffffff;
}

.form--widht{
    width: 60%;
    @include responsive{
        width: 90%;
    }
}
*/
/*# sourceMappingURL=main.css.map */