/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Components */
/* Tarjeta final */
.tarjetaFinal {
  margin-left: auto;
  margin-right: auto;
  width: 500PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
  margin-bottom: 15px;
}

.tarjetaFinal__img {
  width: 170px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tarjetaFinal__parrafo {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.tarjetaFinal:hover {
  background-color: #a79e9e9a;
}

/* Botones */
.btn {
  border-radius: 16px;
  display: inline-block;
  padding: 11px;
  text-decoration: none;
  color: white;
  background-color: #c2262a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 2px 1px #491515;
          box-shadow: 0px 2px 1px #491515;
  font-size: 1.3rem;
}

.btn:hover {
  background-color: #ffffff;
  color: #c2262a;
}

.btn--videoTexto {
  font-size: small;
  border-radius: 8px;
  padding: 5px;
}

.menosIndex {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 8px;
  font-size: 1rem;
}

/* carrusel */
.carruselContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carrusel {
  width: 70%;
  margin-bottom: 20px;
}

/* ---index--- */
.nav__logo {
  height: 95px;
  margin-left: 10px;
}

#nav__items {
  color: #c2262a;
}

#nav__items:hover {
  background-color: #c2262a;
  color: #ffffff;
  border-radius: 8%;
}

.hero {
  height: 100vh;
  background-image: url(../assets/constructor_taladrando_pared.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__titulo {
  margin-top: 100px;
  font-size: 5rem;
  font-family: sans-serif;
  color: #c2262a;
  text-align: center;
}

.hero__subtitulo {
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5%;
  color: #181111;
}

.videoTexto {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.videoTexto__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

.videoTexto__texto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.videoTexto__video {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.videoTexto__video:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.videoTexto .btn {
  border-radius: 8px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: #c2262a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 2px 1px #491515;
          box-shadow: 0px 2px 1px #491515;
  font-size: small;
}

.videoTexto .btn:hover {
  background-color: #ffffff;
  color: #c2262a;
}

.footer {
  background-color: #031b2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__h3 {
  color: #90a7ac;
  font-size: 0.8rem;
}

.footer__contenedorLogo {
  width: 15%;
}

.footer__logo {
  width: 100%;
}

.footer__contenedorContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.footer__contenedorListas {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__btnContacto {
  border-radius: 5px;
  text-decoration: none;
  background-color: #c2262a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  color: white;
  font-size: 0.8rem;
  -webkit-box-shadow: 0px 1px 0.5px black;
          box-shadow: 0px 1px 0.5px black;
}

.footer__btnContacto:hover {
  background-color: #ffffff;
  color: #c2262a;
}

/* ---quienes somos--- */
.mainQuienesSomos {
  overflow: hidden;
}

.quienesSomos {
  margin-bottom: 15px;
  grid-area: quienesSomos;
}

.quienesSomos__divBanner {
  height: 280px;
  background-image: url(../assets/obreros_panel.jpg);
  background-size: cover;
  background-position: center;
}

.quienesSomos__title {
  text-align: center;
  margin-bottom: 30px;
  background-color: #c2262a;
  color: #ffffff;
  padding-bottom: 10px;
}

.quienesSomos__parrafo {
  text-align: center;
}

.contenedorRow {
  row-gap: 10px;
}

.iconosMisionVision {
  width: 50px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.misionVision__title {
  text-align: center;
}

.misionVision__parrafo {
  text-align: center;
}

.misionVision__divMision:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #517293;
          box-shadow: 0px 0px 5px 1px #517293;
  border-radius: 10px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.misionVision__divVision:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #517293;
          box-shadow: 0px 0px 5px 1px #517293;
  border-radius: 10px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/* ---trabajos--- */
.trabajos__divBanner {
  height: 280px;
  background-image: url(../assets/cubre_orejas.jpg);
  background-size: cover;
  background-position: bottom;
}

.trabajos__title {
  color: white;
  text-align: center;
  background-color: #c2262a;
  padding-bottom: 10px;
}

/* ---clientes--- */
.clientes__divBanner {
  height: 280px;
  background-image: url(../assets/obreros_calle.jpg);
  background-size: cover;
  background-position: center;
}

.clientes__title {
  color: white;
  text-align: center;
  background-color: #c2262a;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.pClientes__p {
  text-align: center;
}

.containerClientes {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.containerClientes__img--img {
  width: 200px;
}

/* ---contacto--- */
.contacto__divBanner {
  height: 280px;
  background-image: url(../assets/pc_cafe.jpg);
  background-size: cover;
  background-position: center;
}

.contacto__title {
  color: white;
  text-align: center;
  background-color: #c2262a;
  padding-bottom: 10px;
}

.contacto__parrafo {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.contacto__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-image: url(../assets/balizas.jpg);
  background-size: cover;
  padding-bottom: 15px;
}

.form-label {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */