@import "./vars";

.clientes__divBanner{
    height: 280px;
    background-image:url(../assets/obreros_calle.jpg);
    background-size: cover;
    background-position: center;
}

.clientes__title{
    color: white;
    text-align: center;
    background-color: $bordo;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.pClientes__p{
    text-align: center;
}

.containerClientes{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
}

.containerClientes__img--img{
    width: 200px;
}