@import "./vars";
@import "./mixins";

.clientes__divBanner{
    height: 400px;
    background-image:url(../assets/obreros_calle.jpg);
    background-size: cover;
    background-position: center;
    @include responsive{
        height: 280px;
    }
}

.clientes__title{
    @include fuenteTitular;
    @include h1-tittles;
}

.containerClientes{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    @include responsive{
        display: flex;
        flex-direction: column;
    }
}

.containerClientes__img{
    @include responsive{
        height: 150px;
        display: flex;
        align-items: center;
    }
}

.containerClientes__img--img{
    width: 200px;
    @include responsive{
        width: 150px;
    }
}