@import "./vars";
@import "./mixins";
@import "./mapas";

/* H2 */

.divh2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    &__h2 {
        @include h2;
        @include responsive{
            font-size: 1.1rem;
        }
    }
}

.subrayado{
    height: 3px;
    background-color: $bordo;
    width: 20%;
    border-radius: 20px;
    align-self: flex-start;
    margin-left: 10px;
    @include responsive{
        align-self: center;
        margin-left: 0px;
        width: 50%;
    }
}

/* Tarjeta final */

.tarjetaFinal{
    margin-left: auto;
    margin-right: auto;
    width: 500PX;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px 1px black;
    margin-bottom: 15px;
    margin-top: 15px;
    @include responsiveTablet{
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    &__img{
        width: 170px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__parrafo{
        color: black;
        align-self: center;
        text-align: center;
    }

    &:hover{
        background-color: #ddd0d09a;
    }
}

/* Botones */

.btn{
    border-radius: 16px;
    display: inline-block;
    padding: 11px;
    text-decoration: none;
    color: white;
    background-color: $bordo;
    width: fit-content;
    box-shadow: 0px 2px 1px rgb(73, 21, 21);
    font-size: 1.3rem;

        &:hover{
            background-color:#ffffff;
            color: $bordo;
        } 
}

.btn--videoTexto{
    font-size: small;
    border-radius: 8px;
    padding: 5px;
}

.menosIndex{
    align-self: center;
    padding: 8px;
    font-size: 1rem;
    @include responsiveTablet{
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
}

.btn--hero{
    @include responsiveTablet{
        padding: 2px;
        font-size: 1rem;
    }
    @include responsive{
        margin-bottom: 20px;
        align-self: center;
        margin-left: 0px;
        font-size: 0.8rem;
        padding: 6px;
    }
}

/* carrusel */

.carruselContenedor{
    display: flex;
    justify-content: center;
}

.carrusel{                  
    width: 50%;
    margin-bottom: 20px;
    @include responsive{
        width: 90%;
    }
}

/* Separadores */

.separadorCorto{
    height: 2.5px;
    background-color: #031b2e4a;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.separadorLargo{
    @extend .separadorCorto;
    width: 70%;
    }








