@import "./vars";
@import "./mixins";

.contacto__divBanner{
    height: 400px;
    background-image:url(../assets/pc_cafe.jpg);
    background-size: cover;
    background-position: center;
    @include responsive{
        height: 280px;
    }
}

.contacto__title{
    @include h1-tittles;
}

.contacto__parrafo{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.contacto__formulario{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
    background-image: url(../assets/balizas.jpg);
    background-size: cover;
    padding-bottom: 15px;
    background-attachment: fixed;
}

/*  Para formulario de Bootstrap
.form-label{
    color:#ffffff;
}

.form--widht{
    width: 60%;
    @include responsive{
        width: 90%;
    }
}
*/
