@import "./vars";
@import "./mixins";

.footer{
    background-color: $bg-color-footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    @include responsiveTablet{
        flex-direction: column;
        height: auto;
        row-gap: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__h3{
        @include fuenteTitular;
        color: #90a7ac;
        font-size: 0.8rem;
    }

    &__contenedorLogo{
        width: 15%;
        @include responsiveTablet{
            width: 40%;
        }
    }

    &__logo{
        width: 100%;
    }

    &__contenedorContacto{
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    &__redes{
        display: flex;
        height: 85%;
    }

    &__btnContacto{
        border-radius: 5px;
        text-decoration: none;
        background-color: $bordo;
        width: fit-content;
        padding: 3px;
        color: white;
        font-size: 0.8rem;
        box-shadow:0px 1px 0.5px black;
        @include responsiveTablet{
            align-self: center;
        }

        &:hover{
            background-color:#ffffff;
            color: $bordo;
        }
    }
}