@import "./vars";

.index--widht{
    width: 50%;
}

.nav__logo{
    height: 95px; 
    margin-left: 10px;
    @include responsive{
        height: 45px;
    }
}

.hamburguesa{
    @include responsive{
        width: 1.2rem;
        height: 1.2rem;
    }
}

#nav__items{
    color: $bordo;
    font-size: 1.2rem;
    @include responsive{
        font-size: 1rem;
    }

    &:hover{
        background-color: $bordo;
        color: #ffffff;
        border-radius: 8px;
    }
}