@import "./vars";

.nav__logo{
    height: 95px; 
    margin-left: 10px;
}

#nav__items{
    color: $bordo;

    &:hover{
        background-color: $bordo;
        color: #ffffff;
        border-radius: 8%;
    }
}