@import "./vars";
@import "./mixins";

.hero{
    height: 82vh;
    background-image:url(../assets/constructor_taladrando_pared_recortada1.jpg); 
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    @include responsiveTablet{
        height: 50vh;
        row-gap: 15px;
        background-image: url(../assets/constructor_taladrando_pared_recortada1.jpg);
    }
    
    &__titulo{
        margin-top: 20px;
        font-size: 8rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #f8f9fa;
        text-align: center;
        @include responsiveLaptop{
            font-size: 6rem;
        }
        @include responsiveTablet{
            font-size: 3rem;
        }
        @include responsive{
            margin-top: 30px;
            padding-left: 0px;
            text-align: center;
            font-size: 2.7rem;
        }
    }

    &__subtitulo{
        font-size: 2rem;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        color: rgb(24, 17, 17);
        @include responsiveTablet{
            font-size: 1.5rem;
        }
        @include responsive{
            align-self: center;
            margin-left: 0px;
            font-size: 1.1rem;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}
