@import "./vars";
@import "./mixins";

.mainQuienesSomos{
    overflow: hidden;
}

.quienesSomos{
    margin-bottom: 15px;
    grid-area: quienesSomos;

    &__divBanner{
        height: 400px;
        background-image:url(../assets/obreros_panel.jpg);
        background-size: cover;
        background-position: center;
        @include responsive{
            height: 280px;
        }
    }

    &__title{
        @include fuenteTitular;
        @include h1-tittles;
    }

    &__parrafo{
        @include fuenteTexto;
        text-align: center;  
    }
}

.contenedorRow{
    row-gap: 10px;
}

.iconosMisionVision{
    width: 50px;
    text-align: center;
    align-self: center;
}

.misionVision__title{
    @include fuenteTitular;
    text-align: center;
    margin-bottom: 0px;
}

.subrayadoMisionVision{
    height: 2px;
    background-color: $bordo;
    width: 10%;
    align-self: center;
    margin-bottom: 0.5rem;
    border-radius: 20px;
}

.subrayadoHistoria{
    @extend .subrayadoMisionVision;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

    }

.misionVision__parrafo{
    @include fuenteTexto;
    text-align: center;
}

.misionVision__divMision:hover{
    box-shadow: 0px 0px 5px 1px #517293;
    border-radius: 10px;
}

.misionVision__divVision:hover{
    box-shadow: 0px 0px 5px 1px #517293;
    border-radius: 10px;
}

.misionVision{
    margin-top: 80px;
    margin-bottom: 80px;
    @include responsive{
        flex-direction: column;
    }
}

.contenedorHistoria{
    background-image: url(../assets/pared_ladrillos_blanca.JPG);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 5px;
    padding: 10px 10px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    @include responsiveTablet{
        flex-direction: column;
    }

    &__contenedorH2p{
        width: 50%;
        align-self: center;
        @include responsiveTablet{
            width: 100%;
        }
    }

    &__contenedorImg{
        width: 50%;
        @include responsiveTablet{
            width: 100%;
        }

        &--img{
            width: 100%;
            border-radius: 10px;
            box-shadow: 1px 1px 5px 2px;
        }
    }
}

.historia__parrafo{
    @extend .misionVision__parrafo;
    font-size: 1.3rem;
    @include responsive{
        font-size: 1.1rem;
    }
}






