@import "./vars";
@import "./mixins";

.mainQuienesSomos{
    overflow: hidden;
}

.quienesSomos{
    margin-bottom: 15px;
    grid-area: quienesSomos;

    &__divBanner{
        height: 400px;
        background-image:url(../assets/obreros_panel.jpg);
        background-size: cover;
        background-position: center;
        @include responsive{
            height: 280px;
        }
    }

    &__title{
        @include h1-tittles;
    }

    &__parrafo{
        text-align: center;  
    }
}

.contenedorRow{
    row-gap: 10px;
}

.iconosMisionVision{
    width: 50px;
    text-align: center;
    align-self: center;
}

.misionVision__title{
    text-align: center;
    margin-bottom: 0px;
}

.subrayadoMisionVision{
    height: 2px;
    background-color: $bordo;
    width: 10%;
    align-self: center;
    margin-bottom: 0.5rem;
    border-radius: 20px;
}

.misionVision__parrafo{
    text-align: center;
}

.misionVision__divMision:hover{
    box-shadow: 0px 0px 5px 1px #517293;
    border-radius: 10px;
}

.misionVision__divVision:hover{
    box-shadow: 0px 0px 5px 1px #517293;
    border-radius: 10px;
}

.misionVision{
    margin-top: 80px;
    margin-bottom: 80px;
    @include responsive{
        flex-direction: column;
    }
}


