@import "./vars";
@import "./mixins";

.trabajos__divBanner{
    height: 400px;
    background-image:url(../assets/cubre_orejas.jpg);
    background-size: cover;
    background-position: bottom;
    @include responsive{
        height: 280px;
    }
}

.trabajos__title{
    @include fuenteTitular;
    @include h1-tittles;
}

.pDescripcionTrabajos{
    margin-top: 50px;
    &__p{
        @include fuenteTitular;
        text-align: center;
        font-size: 1.2rem;
        @include responsive{
            font-size: 1rem;
        }
    }
}

.carrusel--border{
    border-radius: 10px;
}