@import "./vars";

.trabajos__divBanner{
    height: 280px;
    background-image:url(../assets/cubre_orejas.jpg);
    background-size: cover;
    background-position: bottom;
}

.trabajos__title{
    color: white;
    text-align: center;
    background-color: $bordo;
    padding-bottom: 10px;
}
