@import "./vars";
@import "./mixins";

.trabajos__divBanner{
    height: 400px;
    background-image:url(../assets/cubre_orejas.jpg);
    background-size: cover;
    background-position: bottom;
    @include responsive{
        height: 280px;
    }
}

.trabajos__title{
    @include h1-tittles;
}
