@import "./vars";
@import "./mixins";

.videoTexto{
    padding: 20px;
    display:flex;
    column-gap: 30px;
    @include responsive{
        flex-direction: column;
        row-gap: 30px;
        height: auto;
        align-items: center;
    }

    &__texto{
        display: flex;
        color: black;
        @include fuenteTexto;
        text-align: center;
        margin: auto;
    }

    &__contenedorImg--img{
        width: 100%;
    }

    .btn{
        @include fuenteTitular;
        border-radius: 8px;
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color: white;
        background-color: $bordo;
        width: fit-content;
        box-shadow: 0px 2px 1px rgb(73, 21, 21);
        font-size: small;

            &:hover{
                background-color:#ffffff;
                color: $bordo;
                }
        }

    .bienvenidos__contenedor{
        display: flex;
        flex-direction: column;
    }
    
    .h2bienvenidos{
        margin-bottom: 0px;
    }

    .rowVideoTexto--gap{
        row-gap: 15px;
        align-items: center;
    }

}