@import "./vars";

.videoTexto{
    padding: 20px;
    display:flex;
    column-gap: 30px;

    &__texto{
        display: flex;
        color: black;
        font-family: sans-serif;
        text-align: center;
        margin: auto;

        &:hover{
            transform: scale(1.1);
        }
    }

    &__video{
        align-self: center;
        margin-bottom: 10px;
        margin-top: 10px;

        &:hover{
            transform: scale(1.1);
        }
    }

    .btn{
        border-radius: 8px;
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color: white;
        background-color: $bordo;
        width: fit-content;
        box-shadow: 0px 2px 1px rgb(73, 21, 21);
        font-size: small;

            &:hover{
                background-color:#ffffff;
                color: $bordo;
                }
        }
    
}